.star-ships {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 350px);
  column-gap: 5px;
  row-gap: 7.5px;
  
}

@media screen and (max-width: 1450px) {
  .star-ships {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    column-gap: 5px;
    row-gap: 7.5px;
  }
}

@media screen and (max-width: 940px) {
  .star-ships {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 200px);
    column-gap: 5px;
    row-gap: 7.5px;
  }
}